@import "./response.scss";

.only-pc {
  display: none;
}
@include for-size-min("extra-small") {
  .only-mobile {
    display: none;
  }
  .only-pc {
    display: block;
  }
}
.blind {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  text-indent: -9999px;
}

.work-container {
  // max-width: 1600px;
  img {
    width: 100%;
  }
  .works-content {
    margin-top: 16px;
    border-radius: 16px;
    img,
    .works-section {
      --delayImg: 0s;
      border-radius: 16px;
      opacity: 0;
      transform: scale(1) translateY(200px);
      transition: all ease-out 0.8s;
      transition-delay: var(--delayImg);
    }

    .works-desc {
      .works-desc-title {
        font-size: 32px;
        line-height: 42px;
        font-weight: bold;
      }
    }

    &.show img,
    &.show .works-section {
      opacity: 1;
      transform: scale(1) translateY(0px);
      .works-desc,
      .works-desc.horizontal {
        .works-desc-title,
        .works-desc-text {
          opacity: 1;
          transform: translate(0);
        }
      }
    }
    &.prev:not(.show) img,
    &.prev:not(.show) .works-section {
      opacity: 0;
      transform: scale(1) translateY(-200px);
    }
    &.prev.next:not(.show) img,
    &.prev.next:not(.show) .works-section {
      opacity: 0;
      transform: scale(1) translateY(200px);
    }
  }

  &.goingUp {
    .works-content {
      img,
      .works-section {
        transform: scale(1) translateY(200px);
      }
      &.show img,
      &.show .works-section {
        opacity: 1;
        transform: scale(1) translateY(0px);
      }
      &.prev:not(.show) img,
      &.prev:not(.show) .works-section {
        opacity: 0;
        transform: scale(1) translateY(-200px);
      }
      &.next:not(.show) img,
      &.next:not(.show) .works-section {
        opacity: 0;
        transform: scale(1) translateY(-200px);
      }
      &.prev.next:not(.show) img,
      &.prev.next:not(.show) .works-section {
        opacity: 0;
        transform: scale(1) translateY(-200px);
      }
    }
  }
}

// .works-desc {
//   --delay: 0.8s;
//   &-title,
//   &-text {
//     opacity: 0;
//     transform: translateY(50px);
//     transition: transform ease-out var(--delay) 0.8s;
//   }
//   &.horizontal {
//     .works-desc-title {
//       transform: translateX(-200px) translateY(0);
//     }
//     .works-desc-text {
//       transform: translateX(200px) translateY(0);
//     }
//   }
// }

.works-section {
  margin-top: 12px;
  background: #fff;
  border-radius: 16px;
  padding: 48px 24px;
  color: #0c0c0c;
  .works-desc {
    margin: 0 auto;
    max-width: 1120px;
  }
  .horizontal {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .works-desc-text {
      margin-top: 0;
    }
  }
  &.theme-darkblue {
    background-color: #1b2042;
  }
  &.theme-blue {
    background-color: #2a3fec;
  }
  &.theme-darkblue,
  &.theme-blue {
    color: #fff;
  }

  .works-figure {
    display: flex;
    justify-content: center;
    &-content {
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
  }
}

.works-box {
  > .work-description-value {
    margin-top: 8px;
  }
}
.sub-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
  .sub-box {
    display: flex;
    gap: 16px;
  }
  .work-description-key {
    width: 50px;
  }
  .work-description-value {
    font-size: 14px;
    line-height: 18px;
  }
  & div:nth-last-of-type(1) {
    em,
    span {
      display: block;
    }
    .work-description-value {
      margin-top: 8px;
    }
  }
}

.work-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.15;
  white-space: pre-line;
  word-break: keep-all;
}
.work-subtitle {
  margin-top: 16px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;

  white-space: pre-line;
}

.work-description-key {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
}

.work-description-value {
  font-size: 14px;
  line-height: 18px;
  white-space: pre-line;
}

@media (min-width: 768px) {
  .work-description-key {
    font-size: 16px;
    line-height: 24px;
  }

  .work-description-value {
    font-size: 16px;
    line-height: 24px;
  }

  .work-container .works-content {
    margin-top: 32px;
  }

  .works-section {
    margin-top: 32px;
    padding: 176px 24px;
    .works-inner {
      display: flex;
      justify-content: center;
      max-width: 1920px;
      margin: auto;

      .work-description-value {
        margin-top: 8px;
        margin-bottom: 32px;
      }
    }
    .works-box {
      width: 50%;
    }

    .btn-wrap {
      margin-top: 46px;
      & + .btn-wrap {
        margin-top: 16px;
      }
      .btn-view {
        display: inline-block;
        border: 1px solid #0c0c0c;
        background: #0c0c0c;
        border-radius: 32px;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        height: 40px;
        line-height: 40px;
        width: 175px;
        font-family: "Chillax-Variable";
        padding-left: 19px;
      }
      .btn-copy {
        display: inline-block;
        border: 1px solid #0c0c0c;
        background: #fff;
        border-radius: 32px;
        font-size: 14px;
        font-weight: 700;
        color: #0c0c0c;
        height: 40px;
        line-height: 40px;
        width: 140px;
        font-family: "Chillax-Variable";
        padding-left: 19px;
      }
      .ico-view {
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url("../../assets/images/ico/ico-view.png") no-repeat 0 0;
        vertical-align: -8px;
        margin-left: 10px;
      }
      .ico-link {
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url("../../assets/images/ico/ico-link.png") no-repeat 0 0;
        vertical-align: -6px;
        margin-left: 10px;
      }
    }

    .sub-wrap {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin-top: 104px;
      .sub-box {
        flex-direction: column;
        gap: 0;
        flex: 1;
      }
    }
    .work-description-key {
      display: block;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
    }
    .work-description-value {
      display: block;
      margin-top: 8px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
    .br_pc {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .works-content {
    overflow: hidden;
    width: 100%;
  }
  .br_pc {
    display: block;
  }
}

@include for-size-min("extra-small") {
  .works-section {
    .works-inner {
      width: 728px;
      gap: 40px;
    }
  }
}

@include for-size-min("medium") {
  .works-section {
    .works-inner {
      width: 952px;
      gap: 72px;

      .work-title {
        font-size: 48px;
      }
      .work-subtitle {
        margin-top: 32px;
        font-size: 24px;
      }
    }
  }
}
@include for-size-min("xlarge") {
  .works-section {
    .works-inner {
      width: 1120px;

      .works-box {
        max-width: 495px;
      }
      .works-box + .works-box {
        max-width: 100%;
      }
      .work-description-key {
        font-size: 16px;
        line-height: 24px;
      }
      .work-description-value {
        margin-top: 8px;
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
}

@include for-size-min("xxlarge") {
  .works-section {
    .works-inner {
      width: 1400px;
      gap: 120px;
      .works-box {
        max-width: 560px;
      }
      .works-box + .works-box {
        max-width: 100%;
      }

      .work-title {
        font-size: 64px;
        font-weight: 700;
        line-height: 1.15;
      }
      .work-subtitle {
        margin-top: 32px;
        font-size: 36px;
        line-height: 46px;
      }

      .work-description-key {
        font-size: 18px;
        line-height: 24px;
      }

      .work-description-value {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }
}
